<a href="https://colab.research.google.com/github/abuyabva/TIABD/blob/main/Pract1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#№2
Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь

In [4]:
from math import pi

figures = dict()

triangle = [int(x) for x in input("Введите стороны треугольника:\n").split(' ')]

p = (triangle[0] + triangle[1] + triangle[2]) / 2
figures["Triangle"] = (p * (p - triangle[0]) * (p - triangle[1]) * (p - triangle[2])) ** 0.5

rectangle = [int(x) for x in input("Введите стороны прямоугольника:\n").split(' ')]
figures["Rectangle"] = rectangle[0] * rectangle[1]

circle = int(input("Введите радиус круга:\n"))
figures["Circle"] = pi * circle ** 2

print(figures)

Введите стороны треугольника:
3 4 5
Введите стороны прямоугольника:
2 4
Введите радиус круга:
5
{'Triangle': 6.0, 'Rectangle': 8, 'Circle': 78.53981633974483}

#№3
Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень.

In [5]:
a, b = input("Введите два числа:\n").split(' ')
operation = input("Введите операцию:\n")
if (operation == "abs"):
  expression = "abs(int(a)), abs(int(b))"
elif (operation == "pow"):
  expression = "a ** b"
else:
  expression = a + operation + b
print(f"Результат применения операции: {eval(expression)}")

Введите два числа:
3 4
Введите операцию:
+
Результат применения операции: 7

#№4
Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [6]:
nums = []

while (not nums or sum(nums) != 0):
  nums.append(int(input("Введите число:\n")))

nums = [x ** 2 for x in nums]
print(f"Сумма квадратов чисел: {sum(nums)}")

Введите число:
3
Введите число:
-3
Сумма квадратов чисел: 18

#№5
Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [7]:
n = int(input("Введите число n:\n"))

nums = []
cur = 1

while (len(nums) < n):
  for x in range(min(cur, n - len(nums))):
    nums.append(cur)
  cur += 1

print(*nums)

Введите число n:
4
1 2 2 3

#№6
Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [8]:
A =  [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

answer = {'a': 0, 'b': 0, 'c': 0}

for i in range(len(A)):
  answer[B[i]] += A[i]

print(answer)

{'a': 17, 'b': 11, 'c': 17}

#№7
Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

In [9]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing(as_frame=True)

#№8
Использовать метод info().

In [10]:
import pandas as pd

df = pd.DataFrame(data.data, columns=data.feature_names)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB
None

#№9
Узнать, есть ли пропущенные значения, используя isna().sum().

In [11]:
print(df.isna().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

#№10
Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [12]:
print(df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)])

       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude
460       37.87    -122.26
4131      34.13    -118.20
4440      34.08    -118.21
5986      34.10    -117.71
7369      33.97    -118.21
8227      33.78    -118.20
13034     38.69    -121.15
15634     37.80    -122.41
15652     37.80    -122.41
15657     37.79    -122.41
15659     37.79    -122.41
15795     37.77    -122.42
15868     37.76    -122.41

#№11
Узнать максимальное и минимальное значения медианной
стоимости дома.

In [13]:
print(f"Минимальная значение медианной стоимости дома: {df['MedInc'].min()}")
print(f"Максиммальное значение медианной стоимости дома: {df['MedInc'].max()}")

Минимальная значение медианной стоимости дома: 0.4999
Максиммальное значение медианной стоимости дома: 15.0001

#№12
Используя метод apply(), вывести на экран название признака и его
среднее значение.

In [14]:
print(df.apply(lambda x: f"{x.name}: {x.mean()}"))

MedInc            MedInc: 3.8706710029069766
HouseAge        HouseAge: 28.639486434108527
AveRooms         AveRooms: 5.428999742190376
AveBedrms       AveBedrms: 1.096675149606208
Population    Population: 1425.4767441860465
AveOccup        AveOccup: 3.0706551594363742
Latitude         Latitude: 35.63186143410853
Longitude     Longitude: -119.56970445736432
dtype: object

#№1*
Дан текст на английском языке. Необходимо закодировать его с
помощью азбуки Морзе, где каждой букве соответствует
последовательность точек и тире. Например, буква «g» превратится в
строку «--.». В переменной morze для удобства хранится словарь
соответствия латинских букв коду Морзе.

In [29]:
def translate(word):

  morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
 'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}

  translated = ''

  for el in word:
    translated += morze[el.lower()] + ' '

  return translated[:-1]


text = input("Введите исходный текст:\n")
splitted = pd.DataFrame({'text': list(text.split(' '))})
splitted['text'].apply(lambda x: print(translate(x)))
splitted = splitted.dropna()

Введите исходный текст:
Ignition sequence start
.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -

#№2*
В некотором городе открывается новая служба по доставке электронных
писем. Необходимо наладить систему регистрации новых
пользователей.
Регистрация должна работать следующим образом: если новый
пользователь хочет зарегистрироваться на сайте, то он должен послать
системе запрос name со своим именем. Система должна определить,
существует ли уже такое имя в базе данных. Если такого имени не
существует, то оно заносится в базу данных системы и пользователю
возвращается ответ "ОК", подтверждающий успешную регистрацию. А
если пользователь с таким именем уже существует, то система должна
сформировать новое имя и выдать его пользователю в качестве
подсказки, при этом сама подсказка также добавляется в базу данных.
Новое имя формируется следующим образом: к name последовательно
приписываются числа, начиная с 1 (name1, name2 и так далее), и среди
них находят такое наименьшее i, что namei еще не содержится в системе.

In [33]:
names = set()
n = int(input("Введите количесво звпросов:\n"))


def add_name(name):
  if (name in names):
    num = 1
    while ((name + str(num)) in names):
      num += 1
    names.add(name + str(num))
    return name + str(num)
  else:
    names.add(name)
    return "OK"


for i in range(n):
  name = input("Введите имя пользователя:\n")
  print(add_name(name))

Введите количесво звпросов:
3
Введите имя пользователя:
b
OK
Введите имя пользователя:
b
b1
Введите имя пользователя:
b
b2

#№3*
Необходимо создать программу обработки запросов пользователей к
файловой системе компьютера. Над каждым файлом можно производить
следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x
("execute").

In [38]:
n = int(input("Введите количество файлов:\n"))
files = dict()
operations_change = {'w': 'write', 'x': 'execute', 'r': 'read'}

print(f"Введите имена и допустимые действия для {n} файлов:")
for i in range(n):
  row = list(input().split(' '))
  file_name = []
  operations = []
  for i in range(len(row)):
    if (i == 0):
      file_name = row[i]
    else:
      operations.append(operations_change[row[i]])
  files[file_name] = operations

m = int(input("Введите количество запросов:\n"))

print(f"Введите {m} операций над файлами и их имена:")
for i in range(m):
  request = list(input().split(' '))
  if (request[0] in files[request[1]]):
    print("OK")
  else:
    print("Access denied")

Введите количество файлов:
3
Введите имена и допустимые действия для 3 файлов:
python.exe w
book.txt r w
notebook.exe r w x
Введите количество запросов:
5
Введите 5 операций над файлами и их имена:
read python.exe
Access denied
read book.txt
OK
write notebook.exe
OK
execute notebook.exe
OK
write book.txt
OK